.greetings_container {
    height: 100%;
}

.greetings__content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-end;
}

.greetings__content-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
}

.decoration-icon-wrapper {
    width: 95px;
    height: 44px;
    padding-bottom: 14px;
}

.decoration_icon {
    width: 100%;
}

h1 {
    font-family: 'Cormorant Garamond';
    font-weight: 400;
    font-size: 65px;
    line-height: 78px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.greetings__sub_text {
    display: block;
    font-family: 'Outfit';
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #D1B06B;
    padding-bottom: 28px;
}

.greetings__button_wrapper {
    padding: 0;
    justify-content: flex-start;
}

.greetings__button {
    padding: 24px 71px;
    color: black;
    background-color: #D1B06B;
}

.greetings__button:hover {
    color: #D1B06B;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
}

.greetings__content_photo {

    max-width: 500px;
    max-height: 700px;
    z-index: 5;
}

.greetings-photo {

    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 5;

}


@media (max-width: 1290px) {
    h1 {
        font-size: 40px;
        line-height: 35px;
    }
}


@media (max-width: 900px) {
    .greetings__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .greetings__content-text {
        align-items: center;
    }

    .greetings__button_wrapper {
        justify-content: center;
    }

    @media (max-width: 900px) {
        h1 {
            text-align: center;
        }
    }
}